.container {
  font-family: arial;
  font-size: 24px;
  margin: auto;
  width: 250px;
  text-align: center;
  align-content: center;
}

h3 {
  font-family: arial;
  font-size: 24px;
  text-align: center;
}
